<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Application Sent</title>
    <link type="text/css" rel="stylesheet" href="/Style.css">
</head>

<body>
    <div th:replace="templates :: logo"></div>
    <br>
        <div class="content successPage">
            <h3>🎉 CONGRATULATIONS 🎉</h3>
            <p>Your application has been sent.</p>
            <p>You are now one step closer to your dream job! 🚀 </p>
            <a href="/" id="successBackButton">Back To Homepage</a>
        </div>

    <div th:replace="templates :: footer"></div>
</body>
</html>